body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 90%;
  color: #666666;
  background-color: #f8f8f8;
}

table {
  border-spacing: 0;
}

th, td {
padding: 5px 30px 5px 10px;
border-spacing: 0px;
font-size: 90%;
margin: 0px;}

th, td {
  text-align: left;
  background-color: #e0e9f0;
  border-top: 1px solid #f1f8fe;
  border-bottom: 1px solid #cbd2d8;
  border-right: 1px solid #cbd2d8;
}

tr.even td, tr.even th {
  background-color: #e8eff5;
}

tr.head th {
  color: #fff;
  background-color: #90b4d6;
  border-bottom: 2px solid #547ca0;
  border-right: 1px solid #749abe;
  border-top: 1px solid #90b4d6;
  text-align: center;
  text-shadow: -1px -1px 1px #666;
  letter-spacing: 0.15em;
}

td {
  text-shadow: 1px 1px 1px #fff;
}

tr.head th:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
tr.head th:last-child {
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
border-top-right-radius: 5px;}

fieldset {
  width: 350px;
  background-color: white;
  border: 1px solid #d6d6d6;
  margin-top: 30px;
}

legend {
  margin-bottom: 30px;
  font-style: italic;
}

.title {
  float: left;
  width: 150px;
  /* border: 1px solid orange; */
  /* padding-right: 100px; */
}

.problem-solution {
  /* border: 1px solid orange; */
  margin-bottom: 5px;
}

#select-center {
  margin-top: 20px;
}

.register {
  /* border: 1px solid orange; */
  width: 320px;
  text-align: right;
  margin-top: 10px;
  /* padding-right: 10px; */
}

.register>input {
  border-radius: 5px;
  background-color: lime;
  padding: 5px 5px;
}
